.about {
    flex-grow: 2;
    display: flex;
    border-radius: 25px;
    font-weight: bolder;
    height: 87vh;
    background: white;
    overflow-y: scroll;
}
.small-left {
    display: flex;
    flex-flow: column nowrap;
    width: 15%;
    justify-content: space-between;
    padding: 20px;
}
label {
    color: rgb(48, 47, 47);
    font-size: 20px;
    font-weight: bolder;
}
.info {
    color: dodgerblue;
}
.imp-links {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    color: gray;
    font-size: 20px;
    padding: 2px;
    transition: 0.5s;
}
.imp-links:hover {
    color: red;
    transition: 0.5s;
}
.small-right {
    display: flex;
    flex-flow: column nowrap;
    width: 85%;
    justify-content: flex-start;
    align-items: stretch;
    border-radius: 15px;
    margin: 10px 5px 10px 40px;
    text-align: left;
    overflow-y: scroll;
}
.skills-label {
    border-radius: 15px;
    margin: 10px 10px 0 10px;
    text-align: center;
    font-size: 30px;
    color: rgb(248, 103, 103);
    background: whitesmoke;
}
.skills-row {
    flex-grow: 1;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    height: 300px;
    border-radius: 15px;
    margin: 10px;
    padding: 20px;
    font-size: 30px;
    color: rgb(248, 103, 103);
    background: whitesmoke;
}
.images {
    border-radius: 15px;
}
#flexbox-img {
    border: 10px solid white;
}

p {
    color: gray; 
}
span {
    color: red;
}