.credit {
    display: flex;
    flex-flow: column nowrap;
    border-radius: 15px;
    font-weight: bolder;
    width: 100%;
    height: 100%;
    background: white;
    text-align: center;
    overflow: auto;
}
.top-row {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 85%;
    padding: 10px;
    font-size: 1.15em;
}
.special-size {
    font-size: 1.25em;
}
.special-pink {
    color: rgb(250, 164, 178);
}
.credit-img {
    background: url('../images/credit.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: 10px;
    margin-bottom: 10px;
    border: 10px solid rgb(250, 164, 178);
    border-radius: 15px;
    width: 60%;
    height: 70%;
}
.bottom-row {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 15%;
    font-size: 1em;
    overflow: auto;
}
li {
    list-style: none;
}