.owrpg {
    display: flex;
    position: relative;
    flex-flow: row nowrap;
    border-radius: 15px;
    font-weight: bolder;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.project-body-background {
    position: relative;
    width: 70%;
    height: 98%;
    background: whitesmoke;
    border-radius: 10px;
}
.title {
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 10%;
    font-size: 2em;
}
.iframe-container {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}
.iframe-management {
    width: 640px;
    height: 385px;
}
.description-container {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: flex-start;
    text-align: center;
    width: 28%;
    height: 98%;
    padding: 5px;
    background: whitesmoke;
    border-radius: 10px;
}
.description-container > ul {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font-size: 1.15em;
}
.main-row-top {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 35%;
}
.main-row-middle {
    width: 100%;
    height: 45%;
}
.description-container > ul > li > ul {
    margin: 0 25px 0 25px;
    padding: 0px;
}
.description-container > ul > li > ul > li {
    list-style: square;
    color: rgb(248, 103, 103);
}
.project-links {
    display: flex;
    flex-flow: column nowrap;
    width: 100%;
    height: 20%;
}
.more {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    height: 30%;
}
.project-links-row {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    height: 70%;
    padding-bottom: 5px;
}
.project-links-row > a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 100%;
    margin: 0;
    padding: 0;
}
.github-icon {
    border-radius: 50px;
    background: white;
}
.project-links-row > a:hover {
    cursor: pointer;
    transition: 0.5s;
    animation: bounce 1.2s infinite ease-in-out;
}
.resume {
    font-size: 1em;
    color: gray;
    text-decoration: none;
}
.resume:hover {
    color: rgb(248, 103, 103);
}

.see-more-label {
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
    width: 12%;
    height: 11%;
    left: 0;
    top: 0;
    color: white;
    background: rgb(248, 103, 103);
    font-weight: initial;
    border-radius: 0 0 15px 0;
    z-index: 5;
}
.see-more-nav {
    position: absolute;
    width: 15%;
    height: 100%;
    right: 0%;
}
.see-more-nav > ul {
    width: 100%;
    height: 50%;
    margin: 0;
    padding: 0;
    background: whitesmoke;
}
.see-more-nav > ul > label {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 10%;
    font-weight: bolder;
    color: red;
}
.see-more-nav > ul > li {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 10%;
    font-weight: initial;
}
.see-more-nav > ul > li:hover {
    cursor: pointer;
}
.see-more-nav > ul > li.selected {
    background: gray;
    color: white;
}
.see-more-nav-hr {
    border: .5px solid gray;
}
.see-more-body {
    display: flex;
    position: relative;
    width: 85%;
    height: 100%;
    background: white;
}
.see-more-body-background-image {
    position: absolute;
    width: 100%;
    height: 100%;
    background: url('../images/owrpgbackground.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    opacity: .3;
}
.bgimg-2a {
    background: url('../images/marvelbackground.jpg');
    background-position: top 30% right -225px;
}
.bgimg-3a {
    background: url('../images/peachtree.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.see-more-body-content {
    display: flex;
    position: relative;
    flex-flow: column nowrap;
    align-items: center;
    width: 100%;
    height: 100%;
    background: transparent;
    overflow: scroll;
    z-index: 5;
}
.see-more-title {
    background: linear-gradient(135deg, rgb(250, 223, 67), rgb(245, 229, 135));
    padding: 10px;
    border-radius: 15px;
}
.see-more-image-title {
    display: flex;
    width: 24%;
    height: 12%;
    padding: 10px;
}
.peachpuff-title {
    color: white;
    background: rgb(245, 193, 149);
}
.see-more-body-content > p {
    width: 90%;
    padding: 10px;
    border-radius: 15px;
    font-weight: initial;
    background: rgba(255, 255, 255, 0.5);
}
.picture-gallery-nav {
    display: flex;
    position: absolute;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: center;
    height: 200px;
    left: 60px;
    top: 20%;
    color: white;
}
.picture-gallery-nav-lis {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: white;
    color: black;
}
.picture-gallery-nav-lis:hover {
    cursor: pointer;
}
.picture-gallery-nav-lis.selected {
    background: gold;
}
.see-more-picture-gallery {
    display: flex;
    position: relative;
    margin: 20px;
    height: 50%;
}
.ptd-gallery {
    flex-flow: column nowrap;
    border: 10px solid rgb(245, 193, 149);
    overflow-y: scroll;
}
.scroll-me {
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 50px;
    right: 12%;
    top: 8%;
    background: white;
    border: 2px solid gray;
}
.owrpg-git {
    position: absolute;
    right: 15px;
    top: 15px;
}
.owrpg-git:hover {
    animation: bounce 1.2s infinite ease-in-out;
}
.marvel-repo-link {
    color: gold;
    text-decoration: none;
}

.white {
    color: white;
}
.red {
    color: rgb(48, 47, 47);
}
.gray {
    color: dodgerblue;
}
.actual-gray {
    color: gray;
}
.actual-red {
    color: rgb(248, 103, 103);
}
.background-black {
    background: black;
}
.background-toggle {
    background: rgb(248, 103, 103);
    transition: 0.5s;
}
.hidden {
    display: none;
}
hr {
    width: 100%;
    margin: 0;
    border: 1px solid lightgray;
}

@media screen and (max-width: 1400px) and (max-height: 1100px) and (orientation: landscape) {

    .blinking {
        animation: none;
    }
    @keyframes bounce {
        0%, 100% {}
    }
    .rpg-label {
        bottom: 4.5%;
    }
    .small-left {
        width: 25%;
        font-size: 1.5em;
    }
    .center {
        width: 45%;
        font-size: 1.6em;
    }
    .small-right {
        width: 30%;
    }
    .skills-body {
        display: flex;
        flex-flow: column nowrap;
        justify-content: stretch;
    }
    .skills-row {
        flex-grow: 1;
        justify-content: center;
        width: 100%;
        height: auto;
        font-size: 1.75em;
    }
    .images {
        display: none;
    }
    .credit {
        font-size: 1.25em;
    }
    .top-row {
        padding: 10px 40px 10px 40px;
    }
    .credit-img {
        width: 100%;
    }
    .projone, .projtwo, .projthree, .owrpg {
        flex-flow: column nowrap;
    }
    .project-body-background {
        width: 100%;
        height: 60%;
        background: white;
    }
    .title {
        position: static;
        align-items: center;
        height: 10%;
        font-size: 3em;
    }
    .iframe-container {
        justify-content: center;
        height: 90%;
    }
    .description-container {
        width: 100%;
        height: 40%;
        background: white;
    }
    .description-container > ul {
        flex-flow: row wrap;
        font-size: 1.3em;
    }
    .main-row-top {
        width: 100%;
        height: 45%;
    }
    .main-row-top > ul {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-evenly;
    }
    .owrpg > .description-container > ul > li > ul {
        justify-content: center;
    }
    .main-row-top > ul > li {
        width: 48%;
    }
    .main-row-middle {
        display: flex;
        flex-flow: column nowrap;
        justify-content: flex-start;
        align-items: center;
        width: 100%;
        height: 30%;
        padding: 0 10px 0 10px;
    }
    .project-links {
        height: 25%;
    }
    .projects > img {
        width: 60%;
    }

}

@media screen and (max-width: 1100px) and (orientation: portrait) {

    .blinking {
        animation: none;
    }
    @keyframes bounce {
        0%, 100% {}
    }
    .about {
        flex-flow: column nowrap;
    }
    .flex-container {
        width: 100%;
        height: 100%;
    }
    .second-col {
        height: 100%;
        border-top: 60px solid whitesmoke;
        border-right: none;
        border-radius: 0;
    }
    .personal-nav {
        height: 60px;
        margin-top: -60px;
        padding: 0;
    }
    .personal-nav-headers {
        width: 50%;
        border-radius: 0px;
        font-size: 2em;
    }
    .small-left {
        flex-flow: row nowrap;
        width: 100%;
        height: 30%;
    }
    .small-left > ul {
        flex-flow: row wrap;
        justify-content: flex-start;
        align-items: center;
        width: 90%;
        height: 100%;
        margin: 0;
        padding: 0 20px 20px 20px;
        font-size: 1.25em;
    }
    .small-left > ul > li {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        width: 50%;
        height: 20%;
    }
    .links {
        flex-flow: column nowrap;
        width: 10%;
        height: 100%;
        padding: 15px 10px 15px 10px;
    }
    .imp-links {
        width: 100%;
        height: 25%;
        align-items: flex-start;
    }
    .center {
        flex-flow: column nowrap;
        width: 100%;
        height: 45%;
        padding: 0 20px 20px 20px;
        font-size: 1.85em;
    }
    .small-right {
        width: 100%;
        height: 25%;
        padding: 0;
        border: 2px solid red;
        border-radius: 0 0 15px 15px;
    }
    .skills-label {
        height: 15%;
        background: white;
        border-radius: 0;
    }
    .skills-body {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        height: 85%;
        overflow: hidden;
        margin: 0;
        border-radius: 0;
    }
    .skills-row {
        justify-content: center;
        width: 20%;
        height: 100%;
        font-size: 1.75em;
        background: white;
        margin: 0;
        padding: 0;
        border-radius: 0;
        border-top: 2px solid red;
        border-right: 2px solid red;
    }
    .skills-row.last-row {
        border-right: none;
    }
    .images {
        display: none;
    }
    .top-row {
        justify-content: space-between;
        font-size: 1.75em;
        padding: 20px;
    }
    .credit-img {
        width: 95%;
        height: 50%;
    }
    .bottom-row {
        justify-content: center;
        font-size: 1.5em;
    }
    .projects {
        height: 25%;
        border: none;
        border-radius: 0;
    }
    .rpg-label {
        bottom: 7%;
    }
    .first-col {
        background: white;
        border-radius: 0;
    }
    .profile {
        height: 15%;
        border-radius: 0;
        border: none;
    }
    .portfolio-nav {
        width: 100%;
        height: 85%;
        background: whitesmoke;
    }
    .projone, .projtwo, .projthree, .owrpg {
        flex-flow: column nowrap;
    }
    .project-body-background {
        width: 100%;
        height: 50%;
        background: white;
    }
    .title {
        font-size: 2.5em;
    }
    .description-container {
        width: 100%;
        height: 50%;
        background: white;
    }
    .description-container > ul {
        font-size: 1.5em;
    }
    .main-row-top {
        width: 100%;
        height: 45%;
    }
    .main-row-top > ul {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-evenly;
        margin: 0 15px 0 15px !important;
    }
    .owrpg > .description-container > ul > li > ul {
        justify-content: center;
    }
    .main-row-top > ul > li {
        width: 45%;
    }
    .main-row-middle {
        display: flex;
        flex-flow: column nowrap;
        justify-content: flex-start;
        align-items: center;
        width: 100%;
        height: 30%;
        padding: 0 10px 0 10px;
    }
    .project-links {
        height: 25%;
    }

}

@media screen and (max-width: 1300px) and (orientation: landscape) {

    .small-left {
        width: 25%;
    }
    .center {
        width: 45%;
    }
    .small-right {
        width: 30%;
    }
    .skills-body {
        display: flex;
        flex-flow: column nowrap;
        justify-content: stretch;
    }
    .skills-row {
        flex-grow: 1;
        justify-content: center;
        width: 100%;
        height: auto;
        font-size: 1.75em;
    }
    .images {
        display: none;
    }
    .title {
        font-size: 1.5em;
    }
    .iframe-management {
        width: 560px;
        height: 340px;
    }
    .description-container > ul {
        font-size: .8em;
    }

}

@media screen and (max-width: 1200px) and (orientation:  landscape) {

    .about {
        flex-flow: column wrap;
    }
    .small-left {
        flex-flow: column wrap;
        justify-content: flex-end;
        width: 70%;
        height: 50%;
    }
    .small-left > ul {
        flex-flow: row wrap;
        justify-content: flex-start;
        align-items: center;
        width: 100%;
        height: 80%;
        margin: 0;
        padding: 0 0 0 15px;
    }
    .small-left > ul > li {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        width: 50%;
        height: 20%;
    }
    .links {
        justify-content: space-between;
        width: 95%;
        height: 20%;
    }
    .imp-links {
        width: 15%;
    }
    .imp-links > img {
        width: auto;
        height: 100%;
    }
    .center {
        width: 70%;
        height: 50%;
    }
    .main-row-top {
        height: 42%;
    }
    .main-row-middle {
        height: 38%;
    }
    .rpg-label {
        font-size: .7em;
    }

}

@media screen and (max-width: 1100px) and (orientation: landscape) {

    .center {
        font-size: 1.15em;
    }
    .top-row {
        font-size: 1em;
    }
    .bottom-row {
        font-size: .75em;
    }
    .title {
        font-size: 2em;
    }
    .main-row-top {
        height: 40%;
    }
    .main-row-middle {
        height: 30%;
    }
    .project-links {
        height: 30%;
    }

}

@media screen and (max-width: 800px) and (orientation: portrait) {

    .small-left {
        font-size: 1em;
    }
    .links {
        padding: 5px;
    }
    .center {
        font-size: 1.3em;
    }
    .skills-body {
        height: 85%;
    }
    .skills-row {
        font-size: 1.3em;
    }
    .top-row {
        font-size: 1.35em;
    }
    .bottom-row {
        font-size: 1em;
    }
    .title {
        font-size: 1.5em;
    }
    .iframe-management {
        width: 560px;
        height: 340px;
    }
    .description-container > ul, .main-row-top, .main-row-middle, .more {
        font-size: 1.1em;
    }
    .rpg-label {
        font-size: .8em;
    }

}

@media screen and (max-width: 830px) and (orientation: landscape) {

    .first-col {
        border-radius: 10px 10px 0 0;
        background: white;
    }
    .profile {
        border-radius: 10px;
        border: 5px solid white;
    }
    .portfolio-nav {
        width: 100%;
        padding-bottom: 5px;
    }
    .projects {
        padding: 5px;
        border-radius: 10px;
    }
    .rpg-label {
        font-size: .1em;
        bottom: 2.5%;
    }
    .personal-nav-headers {
        width: 47%;
        border-radius: 5px;
    }
    .small-left {
        width: 70%;
        height: 100%;
        font-size: 1em;
    }
    .small-left > ul {
        height: 85%;
    }
    .links {
        justify-content: space-between;
        width: 90%;
        height: 15%;
    }
    .center {
        display: none;
    }
    .small-right {
        padding: 5px;
    }
    .skills-label {
        border-radius: 10px 10px 0 0;
        font-size: 1em;
    }
    .skills-body {
        display: flex;
        flex-flow: column nowrap;
        justify-content: stretch;
        height: 93%;
        border-radius: 0 0 10px 10px;
        margin: 0;
    }
    .skills-row {
        flex-grow: 1;
        height: 5%;
        border-radius: 0;
        margin-bottom: 0;
        padding: 0;
        font-size: .8em;
    }
    .credit {
        flex-direction: row;
    }
    .top-row {
        width: 80%;
        height: 100%;
        padding: 10px;
        font-size: .8em;
    }
    .bottom-row {
        justify-content: space-between;
        width: 20%;
        height: 100%;
        padding: 10px;
        font-size: .55em;
    }
    .bottom-row-toggle-direction {
        display: flex;
        flex-direction: column;
    }
    .projone, .projtwo, .projthree, .owrpg {
        flex-flow: row nowrap;
    }
    .project-body-background {
        width: 70%;
        height: 98%;
    }
    .title {
        font-size: 1.5em;
    }
    .iframe-management {
        width: 360px;
        height: 202.5px;
    }
    .description-container {
        width: 28%;
        height: 98%;
    }
    .description-container > ul {
        font-size: .6em;
    }
    .main-row-top > ul {
        flex-flow: column nowrap;
    }
    .main-row-top > ul > li {
        width: 100%;
    }
    .main-row-top {
        height: 40%;
    }
    .main-row-middle {
        height: 40%;
    }
    .project-links {
        height: 20%;
    }

}

@media screen and (max-width: 460px) and (orientation: portrait) {

    .flex-container {
        flex-flow: column-reverse nowrap;
        width: 100%;
        height: 100%;
    }
    .small-container {
        width: 100%;
        height: 100%;
        border-radius: 0;
    }
    .first-col {
        flex-flow: row nowrap;
        width: 100%;
        height: 15%;
    }
    .profile {
        display: none;
    }
    .portfolio-nav {
        flex-flow: row nowrap;
        justify-content: space-between;
        width: 100%;
        height: 100%;
        border-top: 1px solid lightgray;
    }
    .projects {
        width: 25%;
        height: 100%;
        border: none;
        border-radius: 0;
    }
    .rpg-label {
        right: 9.5%;
        bottom: 10%;
        font-size: .7em;
    }
    .second-col {
        width: 100%;
        height: 85%;
        border-top: 60px solid white;
        border-right: 0;
        border-radius: 0;
    }
    .personal-nav {
        justify-content: space-between;
        height: 60px;
        margin-top: -60px;
        padding: 0;
        background: whitesmoke;
        border-bottom: 1px solid lightgray;
    }
    .personal-nav-headers {
        width: 50%;
        border-radius: 0;
        font-size: 1.5em;
    }
    .about {
        border-radius: 0;
    }
    .small-left {
        flex-flow: row nowrap;
        width: 100%;
        height: 50%;
        font-size: .75em;
    }
    .small-left > ul {
        width: 80%;
        height: 100%;
        padding: 10px;
    }
    .small-left > ul > li {
        align-items: flex-start;
    }
    .links {
        flex-flow: column nowrap;
        width: 20%;
        height: 100%;
        padding: 10px;
    }
    .imp-links {
        align-items: flex-start;
        width: 100%;
        height: 25%;
        padding: 0 5px 5px 0;
    }
    .center {
        display: none;
    }
    .small-right {
        width: 100%;
        height: 50%;
        border-radius: 0;
        border: 1px solid red;
    }
    .skills-label {
        height: 10%;
        border-radius: 0;
        font-size: 1.25em;
    }
    .skills-body {
        display: flex;
        flex-flow: column wrap;
        justify-content: space-between;
        width: 100%;
        height: 90%;
        border-radius: 0;
        margin: 0;
        padding: 0;
        background: white;
    }
    .skills-row {
        width: 50%;
        height: 33%;
        border-radius: 0;
        margin: 0;
        padding: 0;
        font-size: 1.15em;
        border: none;
        border-top: 1px solid red;
    }
    .skills-row.fourth-row, .skills-row.last-row {
        height: 50%;
        border-left: 1px solid red;
    }
    .top-row {
        height: 80%;
        font-size: .9em;
    }
    .bottom-row {
        height: 20%;
        font-size: .7em;
        padding: 0 20px 20px 20px;
    }
    .title {
        position: static;
        font-size: 1em;
    }
    .iframe-container {
        height: 90%;
    }
    .iframe-management {
        width: 360px;
        height: 202.5px;
    }
    .description-container > ul, .main-row-top, .main-row-middle, .more {
        font-size: .9em;
    }
    .main-row-top > ul {
        justify-content: space-between;
        margin: 0 20px 0 20px !important;
    }
    .main-row-middle {
        padding: 0 5px 0 5px;
    }

}

@media screen and (max-width: 750px) and (orientation: landscape) {

    .links {
        width: 100%;
    }

}

@media screen and (max-width: 700px) and (orientation: landscape) {

    .title {
        font-size: 1.5em;
    }
    .top-row {
        font-size: .65em;
    }
    .description-container > ul, .main-row-top, .main-row-bottom, .more {
        font-size: .8em;
    }
    .main-row-top {
        height: 80%;
    }
    .main-row-middle {
        display: none;
    }
    .iframe-management {
        width: 330px;
        height: 185.6px;
    }

}

@media screen and (max-width: 600px) and (max-height: 660px) and (orientation: landscape) {

    .small-left {
        font-size: .75em;
    }
    .skills-label, .skills-row {
        font-size: .75em;
    }
    .credit {
        font-size: .75em;
    }
    .bottom-row {
        font-size: .5em;
    }
    .description-container > ul, .main-row-top, .main-row-bottom, .more {
        font-size: .775em;
    }
    .main-row-top {
        height: 80%;
    }
    .main-row-middle {
        display: none;
    }
    .project-links {
        height: 20%;
    }
    .rpg-label {
        font-size: .1em;
    }
    .iframe-management {
        width: 250px;
        height: 140.6px;
    }

}

@media screen and (max-width: 350px) and (max-height: 660px) and (orientation: portrait) {

    .small-left > ul {
        font-size: .8em;
    }
    .skills-label, .skills-row {
        font-size: .6em;
    }
    .special-size {
        font-size: 1.15em;
    }
    .top-row {
        font-size: .8em;
        padding: 15px;
    }
    .bottom-row {
        font-size: .5em;
        padding: 0 15px 20px 15px;
    }
    .description-container > ul, .main-row-top, .main-row-middle, .more {
        font-size: .5em;
    }
    .rpg-label {
        font-size: .3em;
    }
    .iframe-management {
        width: 250px;
        height: 140.6px;
    }

}