.projone {
    flex-grow: 2;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    border-radius: 15px;
    font-size: 2vh;
    font-weight: bolder;
    height: 87vh;
    padding: 20px;
    border-radius: 25px;
    overflow-y: hidden;
}
.inprogress-images {
    display: block;
    width: 70%;
    height: 70%;
    overflow-y: scroll;
}
#inprogress-images {
    
}