* {
    box-sizing: border-box;
}

html {
    width: 100%;
    height: 100%;
    background: linear-gradient(135deg, rgb(171, 219, 238), rgb(12, 174, 238));
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-end;
}
.flex-container {
    display: flex;
    height: 96vh;
    flex-flow: row nowrap;
    justify-content: stretch;
    box-sizing: content-box;
    border-radius: 25px 25px 0 0;
    border-bottom: none;
    border-left: none;
    /* opacity */
}

.first-col {
    display: flex;
    flex-flow: column nowrap;
    width: 160px;
    background: transparent;
    justify-content: stretch;
    align-items: center;
}
.profile {
    height: 160px;
    width: 160px;
    background-image: url('../images/profile.JPG');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 15px;
    margin-top: -10px;
    border: 20px solid white;
}
.portfolio-nav {
    flex-grow: 1;
    display: flex;
    width: 120px;
    color: dodgerblue;
    font-weight: bolder;
    text-align: center;
    flex-flow: column nowrap;
    justify-content: space-evenly;
    align-items: center;
    background: white;
    border: 20px transparent;
}
.img-split {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    color: rgb(66, 65, 65);
    font-weight: bolder;
    font-size: 12px;
}

.second-col {
    flex-grow: 1;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: stretch;
}
.personal-nav {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: stretch;
    margin-top: 2px;
    padding: 5px;
    height: 25px;
    border-radius: 0 50px 0 0;
    z-index: 2;
}
ul {
    display: flex;
    flex-flow: row nowrap;
    list-style: none;
    align-items: center;
    justify-content: stretch;
    margin: 0;
    padding: 0;
}
li {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    color: gray;
    font-weight: bolder;
    transition: 0.5s;
    border-radius: 0 25px 0 0;
}
li:hover {
    cursor: pointer;
    font-size: 18px;
    color: rgb(248, 103, 103);
    transition: 0.5s;
}
.projects {
    padding: 10px;
    border-radius: 15px;
}
.projects:hover {
    cursor: pointer;
    /* animation: blinking 2s infinite ease-in-out;
    background:rgb(250, 164, 178); */
}
/* @keyframes blinking {
    0%, 100% {
        background: white;
    }
    50% {
        background:rgb(250, 164, 178);
    }
} */
.main-container {
    flex-grow: 2;
    display: flex;
    height: 80vh;
    border: 25px solid white;
    border-left: 0;
    border-bottom: 0;
    border-radius: 0 50px 0 0;
    margin-top: -25px;
    justify-content: stretch;
    align-items: stretch;
    overflow-y: scroll;
    z-index: 1;
}
.small-container {
    flex-grow: 3;
    display: flex;
    background: white;
    justify-content: stretch;
    align-items: stretch;
    border-radius: 25px;
    margin: 20px;
}