* {
    box-sizing: border-box;
}

body {
    position: relative;
    margin: 0;
    background: white;
}
h3 {
    font-weight: initial;
}

.intro {
    display: flex;
    justify-content: center;
    position: relative;
    width: 100%;
    height: 100vh;
    background: gray;
    z-index: 5;
}
#intro-exit {
    position: absolute;
    width: 150px;
    height: 100px;
    right: 10px;
    bottom: 10px;
    font-size: 20px;
    background: rgb(238, 149, 71);
    color: white;
    border: 2px solid white;
    z-index: 10;
}
#intro-exit {
    cursor: pointer;
    transition: .5s;
}
#intro-exit:hover {
    color: rgb(248, 131, 131);
    animation: blinking 2s linear infinite;
    animation-delay: .5s;
    transition: .5s;
}
@keyframes blinking {
    0%, 100% {
        color: rgb(248, 131, 131);
    }
    50% {
        color: red;
    }
}
.intro-1 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.2);
    border: 3px solid;
}
.rainbow {
    text-align: center;
    text-decoration: underline;
    font-size: 32px;
    font-family: monospace;
    letter-spacing: 5px;
}
.rainbow_text_animated {
    background: linear-gradient(to right, #6666ff, #0099ff , #00ff00, #ff3399, #6666ff);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    animation: rainbow_animation 6s ease-in-out infinite;
    background-size: 400% 100%;
}
@keyframes rainbow_animation {
    0%,100% {
        background-position: 0 0;
    }

    50% {
        background-position: 100% 0;
    }
}
.fadeInOut {
    animation: fadeInOut 5s linear;
}
@keyframes fadeInOut {
    0%, 100% {
        opacity: 0;
    }
    30%, 70% {
        opacity: 1;
    }
}

.main-project {
    opacity: 1;
}
.fadeIn {
    animation: fadeIn 1s linear;
}
@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
nav {
    display: flex;
    position: fixed;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background: white;
    z-index: 30;
}
.name, .links > a {
    margin: 10px;
    padding: 10px;
    font-size: 24px;
}
.links {
    padding: 10px;
}
.links > a {
    text-decoration: none;
    color: black;
}
.header-image {
    width: 100%;
    height: 25vh;
    margin-top: 70px;
    object-fit: cover;
}
.profile-picture {
    position: absolute;
    width: 300px;
    height: 300px;
    border: 15px solid white;
    border-radius: 50%;
    right: 3%;
    top: 17.5vh;
}
.about-me {
    padding: 0 40px;
}
.about-me > p {
    width: 80%;
    line-height: 1.5;
    font-size: 20px;
}
.featured-project {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    width: 100%;
    padding: 80px 40px;
    background: rgb(222, 221, 221);
}
.featured-icon {
    background: #ffffff;
    border-radius: 5px;
    box-shadow: #00000029 0px 3px 6px;
}
.featured-picture {
    margin-bottom: 20px;
    box-shadow: #00000029 0px 3px 6px;
}
.iframe-management {
    margin-bottom: 20px;
}
.github-repo-button-disabled {
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30%;
    height: 5vh;
    margin-bottom: 10px;
    background: dodgerblue;
    color: white;
    font-weight: bolder;
}
.github-repo-button-disabled:disabled {
    opacity: .6;
}
.github-repo-button {
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30%;
    height: 5vh;
    background: dodgerblue;
    color: white;
    font-weight: bolder;
}
.projects-container {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    width: 100%;
    padding: 0 20px;
}
.projects-div {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    margin: 10px 0;
    padding: 10px;
    background: rgb(222, 221, 221);
    border: 3px solid lightgray;
}
.projects-div > .iframe-management {
    margin: 0;
}
.projects-div-col {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    width: 50%;
}
.projects-div-col > h2 {
    margin-top: 0;
}
.personal-container {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    padding-bottom: 25px;;
    margin-bottom: 10px;
    background: whitesmoke;
}
.personal-container > img {
    border: 10px solid pink;
    border-radius: 15px;
}
.pink {
    color: pink;
    font-weight: bold;
    -webkit-text-stroke-width: .5px;
    -webkit-text-stroke-color: gray;
}
.contact-header {
    text-align: center;
}
footer {
    display: flex;
    justify-content: space-evenly;
    width: 50%;
    margin: auto;
    padding: 30px;
}

.no-border {
    border: none !important;
    border-radius: initial !important;
}
.center-text {
    text-align: center;
}
.hidden {
    display: none;
}